/* Telefones em landscape e abaixo */
/* Telefone em landscape a tablet em portrait */
/* tablet em portrait a landscape e desktop */
/* // */
.feat-container { display: -webkit-box; display: -ms-flexbox; display: flex; max-width: 1200px; margin: 0 auto 0 auto; font-family: 'Source Sans Pro', sans-serif; color: #FFF; line-height: 1.34; padding-top: 15px; padding-bottom: 15px; padding-right: 15px; padding-left: 15px; }
@media (max-width: 767px) { .feat-container { padding-right: 3px; padding-left: 3px; } }

.feat-container h1, .feat-container h2 { text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.75); font-weight: 600; margin: 0; }

.feat-container p { text-shadow: 0.5px 0.5px 11px rgba(0, 0, 0, 0.75); margin-top: 0; }

.feat-second-container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-flex: 10; -ms-flex: 10; flex: 10; }

@media (max-width: 767px) { .feat-container, .feat-second-container { display: inherit; } }

.feat-first { min-height: 10px; -webkit-box-flex: 13; -ms-flex: 13; flex: 13; }
@media (min-width: 767px) { .feat-first { margin-right: 10px; } }

.feat-second { min-height: 0px; margin-bottom: 10px; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }
.feat-second:nth-child(1) { background-image: url("../img/gincana-min.jpg"); }
.feat-second:nth-child(2) { background-image: url("../img/zoologico2-min.jpg"); margin-bottom: 0; }

.feat-first, .feat-second { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; background-color: #7F1B22; background-repeat: no-repeat; background-size: cover; background-position: center; -webkit-transition: -webkit-box-shadow 0.2s, -webkit-transform 0.1s; transition: -webkit-box-shadow 0.2s, -webkit-transform 0.1s; transition: box-shadow 0.2s, transform 0.1s; transition: box-shadow 0.2s, transform 0.1s, -webkit-box-shadow 0.2s, -webkit-transform 0.1s; }
.feat-first:hover, .feat-first:active, .feat-second:hover, .feat-second:active { -webkit-box-shadow: 0px 0px 40px -6px rgba(0, 0, 0, 0.35); box-shadow: 0px 0px 40px -6px rgba(0, 0, 0, 0.35); -webkit-transform: scale(1.01); transform: scale(1.01); }
@media (max-width: 767px) { .feat-first, .feat-second { margin-bottom: 3px; } }

.feat-content { margin: auto 10px 10px 30px; font-size: 15px; }
.feat-content .data { color: #d8d8d8; }

.feat-category { margin: 20px 10px 0 30px; }
.feat-category .categorias { margin-bottom: 50px; }

/* Telefones em landscape e abaixo */
@media (max-width: 480px) { .feat-first { min-height: 300px; }
  .feat-content, .feat-category { margin-left: 10px; }
  h1 { font-size: 24pt; }
  h2 { font-size: 18pt; } }
@media (min-width: 768px) and (max-width: 979px) { .feat-first { margin-right: 5px; }
  .feat-second { margin-bottom: 5px; } }

/*# sourceMappingURL=home-featured.css.map */